Date : {{dateOfBirth}}<br>
Date : {{dateOfBirth | date}}<br>
Date : {{dateOfBirth | date:'short'}}<br>
Date : {{dateOfBirth | date:'medium'}}<br>
Date : {{dateOfBirth | date:'fullDate'}}<br>
Date Custom Pipe : {{dateOfBirth | age}}<br>
Date Custom Pipe : {{dateOfBirth | age:'m'}}<br>
Date Custom Pipe : {{dateOfBirth | age:'d'}}<br>

<hr>

Number Of Items : {{numberofItems}} <br>
Number Of Items : {{numberofItems |number}} <br>
Number Of Items : {{numberofItems |number:'4.3-5'}} <br>
Number Of Items : {{numberofItems |number:'9.8-10'}} <br>
Number Of Items : {{numberofItems}} <br>

<hr>

Salary: {{salary}} <br>
Salary: {{salary |currency: 'USD':true}} <br>
Salary: {{salary |currency: 'INR':true}} <br>
Salary: {{salary |currency: 'EUR':true}} <br>
Salary: {{salary |currency: 'INR':false}} <br>
Salary: {{salary |currency: 'INR':false:'6.3-5'}} <br>

<hr>

Percentage : {{myPercentage}}<br>
Percentage : {{myPercentage |percent}}<br>
Percentage : {{myPercentage |percent:'3.2-3'}}<br>

<hr>

All Numbers : {{number}}<br>
Trimed Numbers : {{number |slice:3}}<br>
Trimed Numbers : {{number |slice:-3}}<br>
Trimed Numbers : {{number |slice:-5}}<br>
Trimed Numbers : {{number |slice:2:4}}<br>

<hr>
Object : {{obj}}<br>
Object : {{obj |json}}

<hr>
<input type="text" #inputText>
<button (click)="addItem(inputText.value)">Add Item</button>
<br>
Array : {{arr | join }}
<br/>
<hr/>
<div>
  <p>Without JSON pipe:</p>
  <pre>{{object}}</pre>
  <p>With JSON pipe:</p>
  <pre>{{object | json}}</pre>
</div>