<table class="table table-bordered">
  <tr>
    <th>Id</th>
    <th>Name</th>
  </tr>
  <tbody>
    <tr *ngFor="let dept of depts">
      <td>{{dept.DeptId}}</td>
      <td>{{dept.DeptName}}</td>
    </tr>
  </tbody>
</table>