<table>
  <!-- <tr *ngFor="let employee of employees | slice:3:6"> -->
    <!-- Using Custom Pipe -->
  <tr *ngFor="let employee of employees | salary:10000:20000">
    <td>{{employee.id}}</td>
    <td>{{employee.name | uppercase}}</td>
    <td>{{employee.salary | currency:'USD':true:'4.2-3'}}</td>
    <td>{{employee.dateOfJoin | date:'yMMMdjms'}}</td>
    <td>{{10.12345 | percent:'4.3-5'}}</td>
  </tr>
</table>
<hr/>
<h1>Revese String :  {{text}} = {{text | reverse:6:11}}</h1>
<hr/>
<pre>{{employees | json}}</pre>
