<!-- <h1>Upper Case Validator</h1><br/>
<pre>Take input with first character uppercase</pre>
<form [formGroup]="myform" novalidate>
  <div class="form-group">
    <label>Enter Name</label>
    <input type="text" class="form-control" name="myname" formControlName="myname" required/>
    <div class="form-control-feedback" *ngIf="myform.controls['myname'].errors &&
    (myform.controls['myname'].dirty || myform.controls['myname'].touched)">
      <p *ngIf="myform.controls['myname'].errors.required">Name is required</p>
      <p *ngIf="myform.controls['myname'].errors.upper">Name should start with an uppercase</p>
    </div>
  <pre>{{myform.value | json}}</pre>
  </div>
</form> -->

<form [formGroup]="myForm" novalidate>
    <div class="form-group">
      <label>First Name</label>
      <input type="text" class="form-control" name="firstName" formControlName="firstName" required upper/>
      <div class="form-control-feedback alert alert-danger" *ngIf="myForm.controls['firstName'].errors && (myForm.controls['firstName'].dirty || myForm.controls['firstName'].touched)">
          <p *ngIf="myForm.controls['firstName'].errors.required">First Name is required</p>
          <p *ngIf="myForm.controls['firstName'].errors.pattern">First Name cannot contain special character</p>
      </div>
    </div>
</form>
