<h1>One Way Binding</h1>
<h2>Interpolation</h2>
<input type="text" value="{{personName}}">
<hr>
<h2>Property Binding</h2>
<input type="text" [value]="personName">
<hr>
<h2>Attribute Binding</h2>
<input type="text" bind-value="personName">
<hr>
<h2>Disabled Property</h2>
<input type="button" [disabled]="!isModified" value="ClickMe!">
<hr>
<h2>Hidden Property</h2>
<input type="button" [hidden]="!isHidden" value="ClickMe!">
<hr>
<h2> Angular data binding is on alert for dangerous HTML. It sanitizes the values before displaying them</h2>
<p><span>"{{evilTitle}}" is the <i>interpolated</i> evil text.</span></p>
<p>"<span [innerHTML]="evilTitle"></span>" is the <i>property bound</i> evil text.</p>
<hr>
<h2>Event Binding</h2>
<button (click)="onClick()">Save</button>
<button on-click="onClick()">On Save</button>
<hr>
<h2>Images</h2>
<img src="../../assets/1.jpg" width="500px" height="500px" (mouseover)="onMouse($event)" (mouseout)="onMouse($event)">
<p><strong>Event Type : {{eventType}}</strong></p>
<hr>
<input type="text" (keyup)="onKey($event)">
<br>
<p><strong>KeyPressed : {{keys}}</strong></p>
<p><strong>Value : {{value}}</strong></p>
<hr>
<h2>Template Refrence</h2>
<img #img1 src="../../assets/1.jpg" width="500px" height="500px" (mouseover)="img1.src='../../assets/2.svg'" (mouseout)="img1.src='../../assets/1.jpg'">
<br>
<input #txt1 (keyup.enter)="onKey1(txt1.value)" (change)="onKey1(txt1.value)" width="100%">
<p>{{value}}</p>
<br>
<hr>
<p><strong>Person Details</strong></p>
<hr>
<!-- <app-person [(firstName)]="fName" [(lastName)]="lName"></app-person> -->
<app-person [(fn)]="fName" [(lastName)]="lName"></app-person>
<br/><br/>
Hello from Demo Binding Component  to {{fName}} {{lName}}