<div class="container">
  <h1>Employee Detail Form</h1>
  <!-- <form #empForm noValidate name="frmEmployee" (ngSubmit)="onSubmit(empForm)"> -->
  <form #empForm="ngForm" noValidate name="frmEmployee" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="Id">Id</label>
      <input type="text" class="form-control" id="id" name="id" [(ngModel)]="emp.id" required >
    </div>

    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" #empName="ngModel" class="form-control" id ="name" name="name" [(ngModel)]="emp.name" required pattern="[a-zA-Z0-9 ]+"/>
      <div [hidden]="empName.valid || empName.pristine || !empName.errors.required" class="alert alert-danger">
          Name is required
      </div>
  
      <div [hidden]="empName.valid || empName.pristine || !empName.errors.pattern" class="alert alert-danger">
            Special characters are not allowed  
      </div>
      <!-- <br/>
      CSS Class:{{empName.className}} -->
    </div>

    <div class="form-group">
      <label for="salary">Salary</label>
      <input type="text" class="form-control" id ="salary" name="salary" [(ngModel)]="emp.salary" required/>
    </div>

    <div class="form-group">
      <label for="department">Department</label>
      <select class="form-control" id="department" [(ngModel)]="emp.department" name="department" required>
          <option *ngFor="let dept of departments" [value]="dept">{{dept}}</option>
      </select>
    </div>

    <button type="button" (click)="newEmployee();empForm.reset()" class="btn btn-default">New Employee</button>
    <button type="submit" name="submit" class="btn btn-default" value="submit">Submit</button>

  </form>
  <hr/>
    Employee Detail: {{diagonistic}}
</div>