<app-heroes>
    <app-hero id="1" name="Superman"></app-hero>
    <app-hero id="2" name="Batman"></app-hero>
    <app-hero id="3" name="Batgirl"></app-hero>
    <app-hero id="3" name="Robin"></app-hero>
    <app-hero id="4" name="Flash"></app-hero>
    <app-hero id="5" name="Green Lantern"></app-hero>
</app-heroes>