<div *ngIf="false">
<div [style.color]="textColor">This is red</div>
<div [style.background-color] = "backgroundColor">This is red</div>
<div [style.color]="textColor" [style.background-color] = "backgroundColor">This is red</div>
<div [class.redBorder]="isRedBorder"
 [class.yellowBackground]="isYellowBackground">
 Class redBorder is applied
 </div>
</div>
<hr>

<div class="saveable modified special">
  Some Special Text
</div>

<div [ngClass]="setClasses()">
  Some Sample Text
</div>

<div [ngStyle]="setStyles()">
    Some Sample Text
  </div>
