<table>
  <tr>
    <td>Id</td>
    <td>Name</td>
    <td>Salary</td>
    <td>Date of Birth</td>
  </tr>

  <tr *ngFor="let emp of employees">
    <td>{{emp.id}}</td>
    <td>{{emp.name}}</td>
    <td>{{emp.salary}}</td>
    <td>{{emp.dateOfJoin | date:medium}}</td>
  </tr>
</table>
