<table class="table table-bordered">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Salary</th>
    <th>Department</th>
    <th>Details</th>
  </tr>
  <tbody>
    <tr *ngFor="let emp of emps">
      <td>{{emp.EmpId}}</td>
      <td>{{emp.EmpName}}</td>
      <td>{{emp.EmpSalary}}</td>
      <td>{{emp.Department.DeptName}}</td>
      <td><a [routerLink]="['/emp', {id:emp.EmpId,foo:'foo'}]">Details</a></td>
    </tr>
  </tbody>
</table>

<div *ngIf="selectedEmployee!=null">
  Selected Employee Details:
  <hr />
  Name: {{selectedEmployee.EmpName}} <br />
  Salary: {{selectedEmployee.EmpSalary}} <br />
  <!-- Department {{selectedEmployee.Department.DeptName}} -->
</div>